@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 1px;
    padding: 2px;
}
body{
    background-color: burlywood;
}

.container{
    max-width: 95%;
    font-family: 'Ubuntu', sans-serif;
}
.container1{
    max-width: 35%;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #711e15;
}

.section1 h1{
    color: #37110d;
    font-size: 2rem;
    width:auto;
    position: relative;
}

.logo{
    font-size: 1.3rem;
}

.logo{
    width: 214px;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;
}
.section2 img, h2{
    position: relative;
    left: 165px;
    width: 600px;
}
.section2 h1{
    font-size: 2.3rem;
}
.section div.call img{
    width: 39px;
}
div.call img,p{
    width: 36px;
}
div.call p{
    position: relative;
    top: -27px;
    left: 126px;
}
div.column.right{
    position: relative;
    top: -344px;
    left: 703px;    position: relative;
    top: -325px;
    left: 720px;
}
div.text{
    font-size: 24px;
}

div.call a{
    position: relative;
    top: -10px;
    left: 184px;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
}
  

footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}
a{
    color: black;
}
footer{
    background-color: grey;
}